.login {
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font-family: "Nunito", sans-serif;
}

.login::before {
  content: "";
  position: absolute;
  background-image: url("../image/background_login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px); /* độ mờ */
  transform: scale(1.1); /* tránh viền trắng khi blur */
  z-index: -1;
  inset: 0;
}

.login-form {
  width: 400px;
  height: 95%;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 77px 55px 33px 55px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.login-form-welcome {
  text-align: center;
}

.login-form-welcome-title {
  font-size: 3.2rem;
  font-weight: bold;
}

.login-form-welcome-logo img {
  height: 80px;
  width: 84px;
  margin-top: 6px;
}

.login-form-input-and-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 38px;
}

.login-form-input-and-button input {
  padding: 0 5px;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #adadad;
}

.login-form-input-and-button input:focus {
  border-bottom: 2px solid #00bfff;
}

.login-form-input-and-button input::placeholder {
  font-size: 1.5rem;
}

.login-form-input-password {
  position: relative;
}

.login-form-input-password i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  font-size: 1.4rem;
  color: #adadad;
  cursor: pointer;
}

.login-form-input-password i:hover {
  color: #4e9dfc;
}

.login-form-btn {
  height: 50px;
  background-color: #00bfff;
  border-radius: 30px;
  color: #fff;
}

.login-form-btn:hover {
  background-color: #519bfc;
}

.login-form-ask {
  font-size: 1.4rem;
  font-weight: 400;
}

.login-form-ask {
  text-align: center;
}

.login-form-ask span {
  color: #776bff;
  cursor: pointer;
  font-weight: bold;
}

.login-form-ask span:hover {
  color: #6558f5;
  cursor: pointer;
  font-weight: bold;
}
